.NavbarMenu {
    cursor: pointer;
    transition: .3s;

    border-radius: 8px;
    margin-bottom: 5px;
}

.NavbarMenu svg {
    transition: .3s;
    fill: var(--whiteGrey);
}

.NavbarMenu a {
    display: flex;
    align-items: center;
    padding: 15px;
}

.NavbarMenu h3 {
    margin-left: 23px;
    color: var(--whiteGrey);
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    transition: .3s;
}

.NavbarMenu:hover,
.active {
    background: var(--darkButtonDefaultBg);
}

.NavbarMenu:hover h3,
.active h3 {
    color: var(--whiteColor);
}

.NavbarMenu:hover svg,
.active svg {
    fill: var(--orangeColor) !important;
}


.logOut a h3 {
    color: var(--errorTextColor);
}